<!DOCTYPE html>
<html lang="ru">
<head th:fragment="head" lang="ru">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"/>
    <link rel="stylesheet" th:href="@{/static/css/app.css}"/>

    <title>Quiz Test Task</title>
</head>
<body>
<nav th:fragment="nav">
    <div class="container">
        <h3>Quiz Test Task</h3>
    </div>
</nav>
<!--<div th:fragment="flash" th:if="${flash != null}" class="container">-->
    <!--<div class="message">-->
        <!--<i class="right material-icons" data-close="">close</i>-->
        <!--<div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>-->
    <!--</div>-->
<!--</div>-->
<div th:fragment="scripts">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/app.js}"></script>
    <script type="text/javascript">
        function showAnswer(q, a) {
            var element = document.getElementById('q_' + q + '_a_'+a);
            if(element.innerHTML == 'true'){
                document.getElementById('answerText_' + a).style.color = 'green';
            }else{
                document.getElementById('answerText_' + a).style.color = 'red';
            }
        }
    </script>
    <script type="text/javascript">
        sendRequest()

        function sendRequest() {
            $.ajax({
                url: "http://localhost:8080/quiz",
                success: function (result, status) {
                    if(status == "success"){
                        //nothing
                    }
                },
                error:function (err){
                if(err.status == 0){
                        $("#status_ok").hide();
                        $("#status_rip").show();
                    }
                }
            });
        }

        function randomIntFromInterval(min,max)
        {
            return Math.floor(Math.random()*(max-min+1)+min);
        }

        setInterval(sendRequest, randomIntFromInterval(20000, 40000));
    </script>
</div>
</body>
</html>