<!DOCTYPE html>
<html lang="ru">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: nav"></nav>
    <div th:replace="layout :: flash"></div>
    <div class="container">
        <div th:each="quiz : ${quizes}" class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <p class="name" th:text="${quiz.quizName}"></p>
                    </div>
                </div>
                <div class="divider"></div>
                <div style="margin-left: 30px;margin-right:30px" th:each="question : ${quiz.questions}">
                    <table class="card highlight responsive-table">
                        <thead>
                        <tr>
                            <th style="margin-left: 30px" class="card-title" th:text="${question.questionText}"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="answer : ${question.answers}">
                                <td><p th:id="answerText_ + ${answer.id}" style="margin-left: 30px;font-size: 18px;" th:text="${answer.answerText}" th:onclick="'showAnswer(' + ${question.id} +', ' + ${answer.id} +')'"></p></td>
                                <td><p th:id="q_ + ${question.id} + _a_ + ${answer.id}" style="display:none;text-align:left;font-size: 20px;" th:text="${answer.correct}"></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="divtodiplaystatus">
            <img style="display:block;width:100px;height:100px;" id="status_ok" th:src="@{/images/status_ok.png}" />
            <img style="display:none;width:100px;height:100px;" id="status_rip" th:src="@{/images/status_rip.png}" />
        </div>
    </div>
    <div th:replace="layout :: scripts"></div>
</body>
</html>